/*GENERALS*/
.fs-4 {
    PADDING-RIGHT: 30%;
}

.logo {
    text-decoration: none;
}

#Option:hover {
    color:white;
    background-color: #008CBA;
}

.menu {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 1px 1px lightgrey, 0px 0px 0px 0px grey;
    MARGIN-TOP: 5%;
}

.nav {
    flex-direction: row;
    display: flex;
    list-style: none;
    padding-inline-start: 0px;
}

.nav-item a {
    text-decoration: none;
}

li {
    padding-right: 10px;
}

footer {
    text-align: center;
    background-color: lightgray;
}

/*INDEX*/
.titlesection {
    text-align: center;
}

.Block {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    box-shadow: 1px 1px 1px 1px lightgrey, 0px 0px 0px 0px grey;
}

.B1 {
    width: auto;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.Imageproduit {
    width: 100%;
}

.B2 {
    DISPLAY: FLEX;
    FLEX-DIRECTION: column;
    TEXT-ALIGN: center;
}

.Prixproduit {
    MARGIN: 2PX 0PX 2PX 0PX;
    color: #008CBA;
}

.Nomproduits {
    MARGIN: auto;
}

.B2 a {
    background-color: #008CBA;
    color: white;
    padding: 10px 0px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}

.B2 a:hover {
    border: dashed #008CBA;
    background-color: white;
    color: #008CBA;
}

/*MEDIA QUERIES INDEX*/
/*480px*/
@media only screen and (min-width: 480px) {
    .Block {
        flex-direction: row;
    }
    .B1 {
        width: 60%;
    }
    .B2 {
        MARGIN-LEFT: auto;
        MARGIN-RIGHT: auto;
    }
    .B2 a {
        padding: 10px 50px;
    }
  }
/*768px*/
  @media only screen and (min-width: 768px) {
    .Block {
        width: 60%;
        MARGIN-LEFT: auto;
        margin-right: auto;
    }
    
  }

/*PRODUCT*/

/*disposition page produit*/
.order1 { grid-area: img; }
.order2 { grid-area: description; }
.order3 { grid-area: price; }


#Blockdescription {
  display: grid;
  grid-template-areas:
    'img'
    'description'
    'price';
  grid-gap: 10px;
  padding: 10px;
}

#Blockdescription > div {
  text-align: center;
  font-size: 20px;
}
     
.Imagedescription {
    width: 100%;
}

.B2description {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#Option {
    MARGIN-BOTTOM: 5%;
}

.select-option {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
}
/*Gestion taille police page produit*/
.Prixdescription {
    font-size: 1em;
    color: #008CBA;
}

.Descriptionproduit {
    font-size: 0.7em;
}

.labelselect {
    font-size: 0.8em;
}

.couleurs {
    font-size: 1em;
}

/*bouton panier*/

#panier {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
  }
  
  #panier:hover {
    background-color: #008CBA;
    color: white;
  }

/*MEDIA QUERIES PRODUCT*/
/*480 px*/
@media only screen and (min-width: 480px) {
  body {
      background-color: lightskyblue;
  }
    
  }

  /*768 px*/
  @media only screen and (min-width: 768px) {

    .order1 {
        grid-area: img; 
     }
   .order2 { 
       grid-area: description; 
     }
   .order3 {
         grid-area: price; 
     }
   
   #Blockdescription {
     display: grid;
     grid-template-areas:
       'img img description descritpion'
       'img img price price';
     grid-gap: 10px;
     padding: 10px;
   }
   
   #Blockdescription > div {
     text-align: center;
     padding: 20px 0;
     font-size: 30px;
   }
      
    }
/*ORDER*/

/*CART*/



section#form-checkout {
    width: 90%;
    DISPLAY: FLEX;
    FLEX-DIRECTION: column;
    MARGIN-LEFT: auto;
    MARGIN-RIGHT: auto;
    FONT-SIZE: 0.8EM;
}

thead {
    background: #008CBA;
    color:#fff
}

thead, tbody {
    text-align: center;
}

h4.titlePanier {
    font-size: 1em;
    DISPLAY: FLEX;
    JUSTIFY-CONTENT: SPACE-AROUND;
}

table.tableau {
    font-size: 0.8EM;
    MARGIN-LEFT: auto;
    MARGIN-RIGHT: auto;
    WIDTH: 90%;
}

button#deletePanier {
    FONT-SIZE: 0.8EM;
}

img.articleImage {
    width: 60%;
}

h4.adress {
    PADDING-TOP: 5%;
}

button#confirmer-panier {
    font-size: 1em;
    MARGIN-TOP: 5%;
    MARGIN-BOTTOM: 5%;
    float: right;
}

form {
    display: flex;
    flex-direction: column;
}

/*MEDIA QUERIES cart*/

/*480 px*/

/*768 px*/
@media only screen and (min-width: 768px) {
    .body {
        display: flex;
        flex-direction: row-reverse;
        width: 95%;
        MARGIN-LEFT: auto;
        MARGIN-RIGHT: auto;
    }
    #cart-info {
        WIDTH: 45%;
    }
    img.articleImage {
        width: 50%;
    }
      
    }