/*GENERALS*/
header {
    display: flex;
    justify-content: center;
}

.logo {
    text-decoration: none;
}

.menu {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.nav {
    flex-direction: row;
    display: flex;
    list-style: none;
    padding-inline-start: 0px;
}

.nav-item a {
    text-decoration: none;
}

li {
    padding-right: 10px;
}

footer {
    text-align: center;
    background-color: lightslategray;
}

/*INDEX*/
.titlesection {
    text-align: center;
}

.Block {
    width: 100%;
    flex-direction: column;
    display: flex;
    margin-bottom: 20px;
    border-radius: 3%;
    box-shadow: 1px 1px 1px 1px grey, 0px -1px 0px grey;
}

.B1 {
    width: 98%;
}

.Imageproduit {
    width: 100%;
}

.B2 {
    DISPLAY: FLEX;
    FLEX-DIRECTION: column;
    TEXT-ALIGN: center;
}

.Prixproduit {
    MARGIN: 2PX 0PX 2PX 0PX;
}

.Nomproduits {
    MARGIN: auto;
}

.B2 a {
        background-color: #1c87c9;
        border: none;
        border-radius: 0% 0% 3% 3%;
        color: white;
        padding: 20px 34px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
}

/*PRODUCT*/
.Blockdescription {
    display:flex;
    flex-direction: column;
}

.B1description {

}

.Imagedescription {
    width: 100%;
}

.B2description {
    display: flex;
    flex-direction: column;
    text-align: center;
}
/*ORDER*/

/*CART*/

