// Gestion des couleurs
$color-primary:#008CBA;
$color-secondary: lightgray;
$color-third:gray;
$color-four:#fff;

//Gestion des tailles de polices
//titre page index
$title-index: 2em;
//carte produit
//nom produit
$name-card: 1.5em;
//prix produit
$price-card: 1em;
//bouton voir plus
$btn-look: 1.2em;

//page produit
//nom produit
$name-product: 1.5em;
//description produit
$describe-product: 1em;
//prix produit
$price-product: 1.2em;
//option
$text-option: 1.2em;
$option:1em;
//bouton ajouter au panier
$add-cart:1.4em;